@model IEnumerable<PoliziaMunicipale.Data.ViewModels.TotalePuntiPerTrasgressoreViewModel>

@{
    ViewData["Title"] = "Totale Punti Decurtati per Trasgressore";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Totale Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CognomeTrasgressore, @item.NomeTrasgressore</td>
                <td>@item.TotalePuntiDecurtati</td>
            </tr>
        }
    </tbody>
</table>
